.section-cards {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards-container {  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em auto;

}

.card {
  outline: none; /* Como el borde pero no ocupa espacio en la caja */
  max-width: 80%;
  height: 400px;
  overflow: hidden; /* Si el contenido ocupa más espacio que el tamaño del contenedor. Queda oculto */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: orange;
  box-shadow: 0 1px 5px rgba(0,0,0, .2), 0 0 3px rgba(0,0,0, .3);
  text-decoration: none;
  color: #FFFFFF;

  transition: all .2s;

  &:hover,
  &:focus {
    transform: scale(1.03) skewX(0);
    transform-origin: bottom;
    box-shadow: 0 7px 8px rgba(0,0,0, .05), 0 3px 3px rgba(0,0,0, .01);
  }

  &:nth-child(5n + 1) {
    background-image: linear-gradient(to top, #2c1c24 0%, #96024b 50%);
  }

  &:nth-child(5n + 2) {
    background-image: linear-gradient(to top, #2c1c24 0%, #96024b 50%);
  }

  &:nth-child(5n + 3) {
    background-image: linear-gradient(to top, #2c1c24 0%, #96024b 50%);
  }

  &:nth-child(5n + 4) {
    background-image: linear-gradient(to top, #2c1c24 0%, #96024b 50%);
  }

  &:nth-child(5n + 5) {
    background-image: linear-gradient(to top, #2c1c24 0%, #96024b 50%);
  }

  &__image-container {
    height: 400px;
    background-color: blue;
    width: 300px;
    clip-path: polygon(0 0, 77% 0, 100% 100%, 0% 100%);
  }

  &:hover &__image-container,
  &:focus &__image-container {
    clip-path: polygon(0 0, 100% 0, 77% 100%, 0% 100%);;
  }

  &__image {
    max-width: 100%;
    height: auto;
    height: 100%; /* 200px */
    object-fit: cover;
    transition: .2s;
  }

  &:hover &__image,
  &:focus &__image {
    transform: scale(1.4) rotate(5deg);
    transform-origin: center;
  }

  &__article { 
    display: flex;
    justify-content: space-between;
    
    

  }

  &__content {
    padding: 1em;
    width: 50%;
  }

  @media (min-width: 1024px) {
    & { /* .card */
      min-width: 240px;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    & {
      min-width: 400px;
      max-width: 500px;
      height: 200px;
    }

    &__article { /* .card__article */
      display: flex;
    }

    & &__image-container {
      width: 50%;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }
    
    &:hover &__image-container, /* .card:hover .card__image-container */
    &:focus &__image-container {
      width: 40%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}
