.main-contacto { 
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;

}



.contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #f0f0f0;
        align-items: center;
        margin: 3em auto;
    }

.contacto-header {
    h1 {
    text-align: center;
    font-weight: bolder;
}
    h2 { 
        text-align: left;
        margin: 1em 1em;
    }

    p {
        text-align: left;
        margin: .5em 3em;
    }

    form {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: .5em 3em        
    }
    .contacto-formularios__message-text { 
        height: 200px;
        width: 600px;
    }

    .contacto-formularios__message-submit {
        margin: 1em 0;
        max-width: 600px;
    }


}
