.section-cards {
  background-color: black;
  padding: 1em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

body {
  @media (min-width: 426px) and (max-width: 768px) {
    min-width: 500px;
  }

  @media (max-width: 425px) { 
    width: 425px;
  }
}

html {
  @media (max-width: 425px) {
    width: 425px  ;
  }}